{% extends "base.html.twig" %}

{% block title %}}{{ title }}{% endblock %}
{% block h1 %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-2xl font-bold mb-3">{{ message }}</h2>
    {% include 'search-form.html.twig' %}
{% endblock %}
