<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>PHP Weather Application</title>
</head>
<body>
<div class="w-fit m-auto p-4">
    <div class="mt-8">
        <div class="flex flex-row gap-28">
            <div class="justify-end">
                <h1 class="text-5xl font-bold mb-3">Bundaberg</h1>
                <div class="flex flex-row gap-3">
                    <h2 class="text-9xl font-bold flex flex-row">
                        <span>25<sup>&deg;</sup></span>
                        <span id="temp-measurement" class="-ml-6 pt-5">C</span>
                    </h2>
                    <div id="daily-min-max" class="flex flex-col justify-end justify-items-center mb-8">
                        <div id="daily-max" class="shrink text-4xl mb-3">31<sup>&deg;</sup></div>
                        <div id="daily-min" class="shrink text-4xl">24<sup>&deg;</sup></div>
                    </div>
                </div>
            </div>
            <div id="weather-icon" class="p-4 pt-0 min-w-fit">
                <picture>
                    <source srcset="/img/raining-208.avif" type="image/avif" />
                    <img src="/img/raining-208.png"
                         alt="rain icon"
                         class="w-52">
                </picture>
            </div>
        </div>
        <div id="data-display" class="mt-2">
            <div class="grid grid-cols-3 gap-0 m-0">
                <div id="wind-speed"
                     class="p-2 border-2 border-slate-200 rounded-lg bg-slate-50 m-2">
                    <div class="w-full text-center text-slate-300">wind speed</div>
                    <div class="text-center text-4xl h-44 flex justify-center flex-col align-middle data-item-text"
                         style="background: center no-repeat url('/img/wind-o5.png');"
                    >
                        13 <span class="inline-block w-full">km/h</span>
                    </div>
                </div>
                <div id="humidity"
                     class="p-2 border-2 border-slate-200 rounded-lg bg-slate-50 m-2">
                    <div class="w-full text-center text-slate-300">humidity</div>
                    <div class="text-center text-4xl h-44 flex justify-center flex-col align-middle data-item-text"
                         style="background: center no-repeat url('/img/cloud-o5.png');"
                    >
                        74%
                    </div>
                </div>
                <div id="uv-index"
                     class="p-2 border-2 border-slate-200 rounded-lg bg-slate-50 m-2">
                    <div class="w-full text-center text-slate-300">UV index</div>
                    <div class="text-center text-4xl h-44 flex justify-center flex-col align-middle data-item-text"
                        style="background: center no-repeat url('/img/sun-o5.png');"
                    >
                        middle<span class="inline-block w-full">(3-5)</span>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-3 gap-0">
                <div id="sunrise-sunset" class="grid grid-cols-2 gap-4 p-2 py-3 border-2 border-slate-200 rounded-lg bg-slate-50 m-2">
                    <div class="text-2xl h-12 flex flex-col justify-center align-middle text-center p-4"
                         style="background: center no-repeat url('/img/sunset-w64-o15.png');"
                    >18:44</div>
                    <div class="text-slate-300 flex flex-col text-lg justify-center align-middle text-center p-4">sunrise</div>
                    <div class="text-slate-300 flex flex-col text-lg justify-center align-middle text-center p-4">sunset</div>
                    <div class="text-2xl h-12 flex flex-col justify-center align-middle text-center p-4"
                         style="background: center no-repeat url('/img/sunrise-w64-o15.png');"
                    >5:04</div>
                </div>
                <div id="hourly-temps" class="p-2 border-2 border-slate-200 rounded-lg bg-slate-50 m-2 col-span-2">
                    <div class="text-slate-300 pl-3 mb-3">hourly temperatures</div>
                    <div class="h-full">
                        <div class="grid grid-cols-5 text-center text-xl">
                            <div>21<sup>&deg;</sup></div>
                            <div>22<sup>&deg;</sup></div>
                            <div>25<sup>&deg;</sup></div>
                            <div>28<sup>&deg;</sup></div>
                            <div>30<sup>&deg;</sup></div>
                        </div>
                        <div class="h-1/3">
                            <ul class="grid grid-cols-5 h-full">
                                <li class="flex justify-center items-center">
                                    <div class="data-point" data-value="25"></div>
                                </li>
                                <li class="flex justify-center items-center">
                                    <div class="data-point" data-value="22"></div>
                                </li>
                                <li class="flex justify-center items-center">
                                    <div class="data-point" data-value="25"></div>
                                </li>
                                <li class="flex justify-center items-center">
                                    <div class="data-point" data-value="28"></div>
                                </li>
                                <li class="flex justify-center items-center">
                                    <div class="data-point" data-value="30"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="grid grid-cols-5 text-center">
                            <div>09:00</div>
                            <div>10:00</div>
                            <div>11:00</div>
                            <div>12:00</div>
                            <div>13:00</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-t-2 border-slate-400 text-center mt-5 pt-4">
        <p class="lowercase text-slate-300">built by Matthew Setter. Powered by Twilio.</p>
    </footer>
</div>
</body>
</html>