{% extends "base.html.twig" %}

{% block title %}Find the Weather with PHP{% endblock %}
{% block h1 %}Find the Weather with PHP{% endblock %}

{% block content %}
    {% if error is not empty  %}
        <div class="p-2 pl-4 mb-2 flex flex-row bg-red-100 text-red-900 rounded-full">
            <img src="/img/form-icons/warning-32.png"
                 alt="warning icon"
                 class="mr-3">
            <span class="pt-1">{{ error|first }}</span>
        </div>
    {% endif %}
    <div class="px-5 pb-1">
        {% include 'search-form.html.twig' %}
    </div>
{% endblock %}
